<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>About Terry Pratchett</title>
    <link rel="stylesheet" href="../style.css" />
  </head>
  <body>
    <h1>About Terry Pratchett</h1>
    <p>Sir Terence David John Pratchett OBE (28 April 1948 - 12 March 2015) was an English humourist, satirist, and author of fantasy novels, especially comical works.He is best known for his Discworld series of 41 novels.</p>
    <img src="/TerryPratchettByLuigiNovi.jpeg" />

    <a href="/">Home</a>
    <a href="/about">About him</a>
    <a href="/works">His work</a>
    <a href="/gallery">Gallery</a>
  </body>
</html>
