<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>About Terry Pratchett</title>
    <link rel="stylesheet" href="../style.css" />
  </head>
  <body>
    <div class="navBar">
        <a href="/">Home</a> 
        <br>
        <a href="/about">About him</a>
        <br>
        <a href="/works">His work</a>
        <br>
        <a href="/gallery">Gallery</a>
        </div>
    <h1>Gallery of Terry Pratchett</h1>
   <div class="wrap">
    <img src="/color.jpeg" height="300px"/>
    <img src="/sourcery.jpeg" height="300px"/>
    <img src="/mort.jpeg" height="300px"/>
    <img src="/jingo.jpeg" height="300px"/>

   </div>
  </body>
</html>