<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>About Terry Pratchett</title>
    <link rel="stylesheet" href="../style.css" />
  </head>
  <body>
    <div class="navBar">
        <a href="/">Home</a> 
        <br>
        <a href="/about">About him</a>
        <br>
        <a href="/works">His work</a>
        <br>
        <a href="/gallery">Gallery</a>
        </div>
    <h1>Welcome to the tribute webpage of Terence David John "Terry" Pratchett!</h1>
    <img src="/Terry.jpeg" height="300px"/>
    <p> Pratchett, with more than 85 million books sold worldwide in 37 languages, was the UK's best-selling author of the 1990s.<br>He was appointed Officer of the Order of the British Empire (OBE) in 1998 and was knighted for services to literature in the 2009 New Year Honours.<br>In 2001 he won the annual Carnegie Medal for The Amazing Maurice and his Educated Rodents, the first Discworld book marketed for children.<br>He received the World Fantasy Award for Life Achievement in 2010.</p>

  
  </body>
</html>
