<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>About Terry Pratchett</title>
    <link rel="stylesheet" href="../style.css" />
  </head>
  <body>
    <div class="navBar">
        <a href="/">Home</a> 
        <br>
        <a href="/about">About him</a>
        <br>
        <a href="/works">His work</a>
        <br>
        <a href="/gallery">Gallery</a>
        </div>
    <h1>His work</h1>
    <img src="/discworld1.jpeg" class="img"/>
    <p>Pratchett began writing the Discworld series in 1983 to "have fun with some of the cliches" and it is a humorous and often satirical sequence of stories set in the colourful fantasy Discworld universe.<br> The series contains various story arcs (or sub-series), and a number of free-standing stories.<br> All are set in an abundance of locations in the same detailed and unified world, such as the Unseen University and 'The Drum/Broken Drum/Mended Drum' public house in the twin city Ankh-Morpork, or places in the various continents, regions and countries on the Disc.<br> Characters and locations reappear throughout the series, variously taking major and minor roles.</p>


  </body>
</html>
